{% extends 'main.html' %}

{% block content%}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Password:</label>
        <input class="form-control" type="text" name="username" placeholder="Enter Username">
        
        <label for="">Username: </label>
        <input class="form-control" type="password" name="password" placeholder="Enter Password">

        <button type="submit" class="btn btn-primary"> Login</button>
    </form>
</div>

{% endblock content %}